-DCMAKE_BUILD_TYPE=RelWithDebInfo

-DBUILD_SHARED=ON
-DBUILD_STATIC=OFF

#-DCUDA_HOST_COMPILER=/usr/bin/gcc-5

-DUSE_OPENBLAS=OFF
-DOpenBLAS_LIBRARIES=/usr/local/lib/libopenblas.a
-DOpenBLAS_INCLUDE_DIRS=/usr/local/include/openblas
#-DOpenBLAS_DIR=/opt/OpenBLAS/lib/cmake/openblas

-DUSE_CBLAS=ON
-DUSE_LAPACKE=ON
-DLAPACK_LIBRARIES=/usr/lib/atlas-base/atlas/liblapack.a
-DLAPACK_INCLUDE_DIRS=/usr/include/
